* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -ms-user-select: none !important;
  user-select: none !important;
  -moz-user-select: none !important;
  -webkit-user-select: none !important;
}

img {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-user-drag: none;
}

body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

nav {
  width: 100vw;
  max-width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.breadcrumb {
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.breadcrumb .path {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: left;
  -ms-flex-pack: left;
  justify-content: left;
}

.breadcrumb .path li {
  font-size: 16px;
}

.breadcrumb a {
  color: #ed5757;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  text-decoration: none;
  outline: none;
}

.breadcrumb a:hover {
  color: #ca4b4b;
}

.logout {
  font-size: 13px;
  padding-top: 0.28rem;
  padding-bottom: 0.28rem;
}

.heading {
  font-size: 42px;
  font-family: "Righteous";
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  margin: 27px auto;
  position: relative;
  color: #b13b3b;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}

.heading::before {
  content: "";
  position: absolute;
  display: block;
  width: 40%;
  height: 5px;
  bottom: -10px;
  left: 41%;
  border-top-left-radius: 100%;
  border-bottom-left-radius: 100%;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
  background-color: #f46b6b;
  margin: 8px auto;
  -webkit-animation: 400ms ease-in-out 0.4s alternate forwards left_line;
  animation: 400ms ease-in-out 0.4s alternate forwards left_line;
}

.heading::after {
  content: "";
  position: absolute;
  display: block;
  width: 48%;
  height: 5px;
  bottom: -10px;
  left: 54%;
  border-top-right-radius: 100%;
  border-bottom-right-radius: 100%;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
  background-color: #f46b6b;
  margin: 8px auto;
  -webkit-animation: 400ms ease-in-out 0.4s alternate forwards right_line;
  animation: 400ms ease-in-out 0.4s alternate forwards right_line;
}

@-webkit-keyframes left_line {
  0% {
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
  }
  100% {
    -webkit-transform: translateX(-75%);
    transform: translateX(-75%);
  }
}

@keyframes left_line {
  0% {
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
  }
  100% {
    -webkit-transform: translateX(-75%);
    transform: translateX(-75%);
  }
}

@-webkit-keyframes right_line {
  0% {
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
  }
  100% {
    -webkit-transform: translateX(-25%);
    transform: translateX(-25%);
  }
}

@keyframes right_line {
  0% {
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
  }
  100% {
    -webkit-transform: translateX(-25%);
    transform: translateX(-25%);
  }
}

input,
textarea,
select {
  display: block;
  border: 1px solid #ccc !important;
  border-radius: 6px;
  padding: 7px 10px;
  font-size: 15px !important;
  width: -webkit-fill-available;
  width: -moz-fill-available;
  width: -moz-available;
  width: fill-available;
  outline: none;
  -webkit-transition: all 0.2s ease-in-out !important;
  transition: all 0.2s ease-in-out !important;
}

input:focus,
textarea:focus,
select:focus {
  border: 1px solid #ee6666 !important;
  -webkit-box-shadow: 0 0 0px 3.5px #eb6d6d80 !important;
  box-shadow: 0 0 0px 3.5px #eb6d6d80 !important;
}

.a-btn-primary {
  padding: 6px 21px;
  border-radius: 6px;
  outline: none;
  border: 1px solid #a33131;
  background-color: #a3313100;
  color: #b42828;
  font-family: "Raleway";
  text-decoration: none;
  font-weight: 600;
  opacity: 1;
  font-size: 14px;
  outline: none;
  cursor: pointer;
  letter-spacing: 0.5px;
  font-family: "Raleway";
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.a-btn-primary:disabled,
.a-btn-primary.disabled {
  opacity: 0.6;
}

.a-btn-primary:not(:disabled):hover {
  cursor: pointer;
  color: #ffffff;
  background-color: #c44646;
  border: 1px solid #c44646;
}

.a-btn-primary:not(:disabled):active {
  cursor: pointer;
  color: #ffffff;
  background-color: #972a2a;
  -webkit-transform: scale(0.97);
  transform: scale(0.97);
  -webkit-transition: all 0.1s ease-in-out;
  transition: all 0.1s ease-in-out;
}

button .spinner-border {
  width: 19px;
  margin: 0 14px;
  height: 19px;
  vertical-align: sub;
}

@media screen and (max-width: 768px) {
  .heading {
    font-size: 32px;
  }
  .heading::before {
    height: 3.5px;
    width: 50%;
    left: 45%;
  }
  .heading::after {
    height: 3.5px;
    width: 50%;
    left: 58%;
  }
  .download-btn {
    bottom: 10px;
    right: 10px;
    height: 37px;
    width: 37px;
    padding: 11px;
    font-size: 15px;
  }
  .download-btn:hover {
    height: 37px;
    width: 137px;
  }
  .download-btn .label {
    margin-right: -61px;
  }
  @-webkit-keyframes label {
    from {
      margin-right: -61px;
      visibility: collapse;
    }
    to {
      margin-right: 0px;
      visibility: visible;
    }
  }
  @keyframes label {
    from {
      margin-right: -61px;
      visibility: collapse;
    }
    to {
      margin-right: 0px;
      visibility: visible;
    }
  }
  .breadcrumb .path li {
    font-size: 14px;
  }
}

@media screen and (max-width: 576px) {
  .heading {
    font-size: 28px;
  }
  .heading::before {
    height: 3px;
    width: 60%;
    left: 44%;
  }
  .heading::after {
    height: 3px;
    width: 60%;
    left: 56%;
  }
  .download-btn {
    bottom: 10px;
    right: 10px;
    height: 37px;
    width: 37px;
    padding: 11px;
    font-size: 15px;
  }
  .download-btn:hover {
    height: 37px;
    width: 137px;
  }
  .download-btn .label {
    margin-right: -61px;
  }
  .instruction {
    text-align: center;
    font-size: 13px;
  }
  @-webkit-keyframes label {
    from {
      margin-right: -61px;
      visibility: collapse;
    }
    to {
      margin-right: 0px;
      visibility: visible;
    }
  }
  @keyframes label {
    from {
      margin-right: -61px;
      visibility: collapse;
    }
    to {
      margin-right: 0px;
      visibility: visible;
    }
  }
  .breadcrumb .path li {
    font-size: 12px;
  }
}

::-webkit-scrollbar {
  width: 7px;
  height: 7px;
}

/* Track */
::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.163);
  border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #6868684b;
  border-radius: 100px !important;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

/* Handle */
::-webkit-scrollbar-thumb:hover {
  background: #6868686f;
  border-radius: 100px !important;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.modal-body {
  overflow-y: auto;
  /* max-height: 68vh !important; */
  max-height: calc(100vh - 195px);
}
/*# sourceMappingURL=common.css.map */